.about-me{
 display: flex;
 flex-direction: column;
}

p{
  line-height: 30px;
  text-align: left;
  margin-top: -15px;
}
.about-me-title{
  margin-top: -10px;
}
.about-me-left{
  display: flex;
  gap: 18px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

}
.about-me-right{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about-me-section{
  display: flex;
  flex-direction: column;
  gap:5px;
  font-weight: bold;
}
.my-data{
  display: flex;
  gap: 70px;
  justify-content: center;
}