.about-me{
 display: flex;
 flex-direction: column;
}

p{
  line-height: 30px;
  text-align: left;
  margin-top: -15px;
}
.about-me-title{
  margin-top: -10px;
}
.about-me-left{
  display: flex;
  gap: 18px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

}
.about-me-right{
  display: flex;
  gap: 18px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.about-me-section{
  display: flex;
  flex-direction: column;
  gap:5px;
  font-weight: bold;
}
.my-data{
  display: flex;
  gap: 70px;
  justify-content: center;
}

@media only screen and (max-width:700px){
  .about-me{
    width: 100%;
    height: 100svh;
    text-align: center;
  }
  .my-data{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  p{
    text-align: center;
    margin-top: 0;
  }
  .about-me-title{
    margin-top: 0;
  }
  .about-me-left{
    width: 100%;
  }
  .about-me-right{
    width: 100%;
  }
  .about-me-title{
    font-size: 20px;
  }
}