.left{
  text-align: left;
  width: 50%;
}
.saludo{
  font-size: 25px;
}
.left h1{
  font-size: 60px;
}
.frase{
  font-weight: bold;
  color: #065DAA;
  margin: 10px 0;
  font-size: 19px;
}
.desc{
  font-size: 19px;
  margin-bottom: 15px;
}
#download{
  margin-top: 20px;
  border: none;
  background-image: linear-gradient(-45deg, #0781f3, #063968);
  font-weight: 700;
  width: 140px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  transition: opacity 0.3s ease;
  margin-bottom: 30px;
}
#download a{
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#download:hover{
  opacity: 0.8;
  cursor: pointer;
}
.tech{
  font-size: 45px;
}
.right{
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
}
.avatar{
  margin-top: -35px;
}
.tecnologias{
  display: flex;
  gap: 10px;
}