
.left{
  text-align: left;
  width: 50%;
}
.saludo{
  font-size: 25px;
}
.left h1{
  font-size: 60px;
}
.frase{
  font-weight: bold;
  color: #065DAA;
  margin: 10px 0;
  font-size: 19px;
}
.desc{
  font-size: 19px;
  margin-bottom: 15px;
}
.left-buttons{
  margin-top: 20px;
}
.hide-button{
  display: none;
}
#download{
  border: none;
  background-image: linear-gradient(-45deg, #0781f3, #063968);
  font-weight: 700;
  width: 140px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  transition: opacity 0.3s ease;
  margin-bottom: 30px;
}
#download a{
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#download:hover{
  opacity: 0.8;
  cursor: pointer;
}
.tech{
  font-size: 45px;
}
.right{
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  width: 42%;
  margin-top: -45px;
}

.avatar-profile{
  width: 80%;
}
.tecnologias{
  display: flex;
  gap: 10px;
}
@media only screen and (max-width:700px){
  .main-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 20px 10px;
    border-radius: 0px;
    width: 100%;
    height: 100svh;
  }
  .left{
    width: 100%;
    text-align: center;
  }
  .right{
    width: 100%;
    margin-top: 0px;
  }
  .avatar-profile{
    width: 60%;
  }
  .saludo{
    font-size: 20px;
    text-align: center;
  }
  .left h1{
    font-size: 45px;
  }
  .frase{
    font-size: 16px;
    margin:5px 0;
    text-align: center;
  }
  .desc{
    display: none;
  }
  #download{
    margin-bottom: 0px;
  }
  .h1{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    line-height: 40px;
    justify-content: center;
  }
  .left-buttons{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }
  .hide-button{
    display: block;
  }
}