.proyects{
  display: flex;
  justify-content: center;
}
.slider{
  height: 350px;
  padding: 10px;
  width: 90%;
  margin-top: -20px;
}
.item{
  display: flex !important ;
  width: 100%;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid gray;
  justify-content: center;
  padding: 10px;
}
.item-image{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.item-image img{
  width: 90%;
}

.item-description{
  text-align: center;
}

.item-data{
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
.item-buttons{
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.item-buttons button{
  width: 150px;
  height: 40px;
  border: 3px solid rgb(70, 69, 69);
  border-radius: 5px;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  font-size: 13px;
  align-items: center;
  transition: all 0.3s ease;
}
.item-buttons button:hover{
  cursor: pointer;
  box-shadow: 0px 0px 10px black;
}

.bi-play-circle-fill, .bi-github{
  color: black;
  font-weight: bold;
}
.flecha-izquierda{
  position: absolute;
  top:50%;
  left:-30px;
  cursor: pointer;
  color: rgb(34, 33, 33);
  font-size: 30px;
}

.flecha-derecha{
  position: absolute;
  top:50%;
  right:-30px;
  cursor: pointer;
  color: rgb(34, 33, 33);
  font-size: 30px;
}
@media only screen and (max-width: 700px){
  .proyects{
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    text-align: center;
    padding: 0;
    height: 100svh;
    width: 100%;
    border-radius: 0px;
    align-items: center;

  }
  .slider{
    height: 55vh;
    width: 70%;
  }
  .item{
    height: 460px;
    flex-direction: column;
  }
  .item-image{
    width: 100%;
  }
  .item-data{
    width: 100%;
  }
}